main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

h1 {    
    color: blue;
    font-size: 35px;
}

nav {
    background-color: lightblue;
    text-align: center;
    margin: 20px;
}

.mainhead {
    font-family: Montserrat, sans-serif;
    display: flex;
    justify-content: center;
}

body {
    background-color: #EDDDD0;
}

.picture {
    display: flex;
    justify-content: center;
}