main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

h1 {    
    color: #334259;
    font-size: 35px;
}

nav {
    background-color: lightblue;
    text-align: center;
    flex-grow: 100%;
}

.mainhead {
    font-family: Montserrat, sans-serif;
}

body {
    background-color: #EDDDD0;
}

.picture {
    display: flex;
    justify-content: center;
}