.index-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 50px;
}

h1 {    
    color: #334259;
    font-size: 35px;
}

nav {
    background-color: lightblue;
    text-align: center;
}

.mainhead {
    font-family: Montserrat, sans-serif;

}

body {
    background-color: #EDDDD0;
}

.mheader {
    display: grid;
    
}

footer {
    text-align: center;
    background-color: lightblue;
   }

.picture {
    grid-column: 2/3;
}

p {
    grid-column: 1/2;
}

nav ul {
    display: inline-flex;
    list-style-type: none;
    justify-content: center;
    text-align: center;
  }

article ul {
    list-style-type: none;
    flex-direction: column;
    padding-left: 0%;
}

.list-grid {
    display: grid;
    grid-template-rows: 1fr;
}

article li {
    border-top: 2px solid black;
}

article li:first-child {
    border-top: none;
}
